.darkmode{
  --main-color: #2c2c2c;
}



body{
  --main-color: #031A28;
  /* background-color: var(); */
  margin:0;
  background: linear-gradient(180deg, rgba(65, 251, 117, 0) 42.71%, rgba(65, 251, 117, 0.08) 100%), linear-gradient(180deg, #031A28 12.14%, var(--main-color ) 184.42%), linear-gradient(180deg, #031A28 0%, #084C70 215.6%);
  height: 100vh;
}
#navbar{
  color:white;
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: grey;
  padding: 10px;
  background: rgba(217, 217, 217, 19%);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    grid-gap: 10px; /* Espacement entre les éléments */
    padding: 10px; /* Espacement extérieur */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    justify-items: center
  }
  
  .grid-item {
    background-color: #f2f2f2; /* Couleur de fond */
    width: 25vw; /* Taille de l'élément (carré) */
    height: 25vh; /* Taille de l'élément (carré) */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Taille de police */
    color: #333; /* Couleur de police */
    border-radius: 8px; /* Coins arrondis */

    transform: rotateY(var(--r-x));

    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.1) 100%);
    border-radius: 16px;
    opacity: 0.5;
    
  }
  
  /* if on mobile, set grid item height to 11vh; */
  @media only screen and (max-width: 600px) {
    .grid-item {
      height: 11vh;
    }
  }


  .grid-item:active {
    /* Style pour l'état actif (appuyé) */
    background-color: #ccc;

  }

  .grid-item:hover {
    /* Style pour l'état actif (appuyé) */
    background-color: #ccc;
    transition: 0.5s;
    opacity: 1;

  }

.overlay{
    position: fixed; /* Fixer la position de l'élément */
    top: 0; /* Coller à la partie supérieure de la page */
    left: 0; /* Coller à la partie gauche de la page */
    width: 100%; /* Utiliser la largeur totale de la page */
    height: 100%; /* Utiliser la hauteur totale de la page */
    background-color: rgba(0,0,0,0.5); /* Couleur de fond semi-transparente */
    z-index: 999; /* Mettre l'élément au-dessus des autres éléments */
    display: none; /* Cacher l'élément par défaut */
}

.app-overlay{
    height: 100%;
}

.close-btn {
    position: absolute; /* Positionner l'élément en absolu */
    top: 10px; /* Coller à la partie supérieure de l'application */
    right: 10px; /* Coller à la partie droite de l'application */
    font-size: 24px; /* Taille de police */
    color: #fff; /* Couleur de police */
    cursor: pointer; /* Cursor pour indiquer qu'il s'agit d'un lien */
}


/* TBD */

.garden {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

#circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #38A556;
  position: fixed;
    bottom: 5%;
}

#app-title{
 margin: 0;
}