.darkmode{
  --main-color: #2c2c2c;
  --background-home: rgb(32, 32, 32);
  --back-topbar: black;
}

body{
  margin:0;
  --back-topbar: rgba(217, 217, 217, 19%);
  --background-home: linear-gradient(180deg, rgba(65, 251, 117, 0) 42.71%, rgba(65, 251, 117, 0.08) 100%), linear-gradient(180deg, #031A28 12.14%, var(--main-color ) 184.42%), linear-gradient(180deg, #031A28 0%, #084C70 215.6%);
  background-color: var(--main-color);
}

body{
  --main-color: #031A28;
  /* background-color: var(); */
  margin:0;
  background: var(--background-home);
  height: 100vh;
}
#navbar{
  color:white;
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: grey;
  padding: 10px;
  background: var(--back-topbar);
  flex-wrap: wrap;
}

#grid-container {
    display: grid;
   grid-template-columns:     repeat(auto-fit, minmax(250px, 1fr)); /* 3 colons
   /* 100px */
    grid-gap: 10px; /* Espacement entre les éléments */
    padding: 10px; /* Espacement extérieur */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    justify-items: center
  }
  
  .grid-item {
    width: 25vh; /* Taille de l'élément (carré) */
    height: 25vh; /* Taille de l'élément (carré) */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Taille de police */
    color: rgb(204, 204, 204); /* Couleur de police */

    transform: rotateY(var(--r-x));

    border-radius: 16px;
    

    /* glass effect */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.22);

  }
  
  /* if on mobile, set grid item height to 11vh; */
  @media only screen and (max-width: 600px) {
    .grid-item {
      height: 11vh;
      width: 11vh;
    }

    #grid-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

  }


  .grid-item:active {
    /* Style pour l'état actif (appuyé) */
    background-color: #ccc;

  }

  .grid-item:hover {
    /* Style pour l'état actif (appuyé) */
    background-color: #ccc;
    color:#031A28;
    transition: 0.5s;
    opacity: 1;

  }

.overlay{
    position: fixed; /* Fixer la position de l'élément */
    top: 0; /* Coller à la partie supérieure de la page */
    left: 0; /* Coller à la partie gauche de la page */
    width: 100%; /* Utiliser la largeur totale de la page */
    height: 100%; /* Utiliser la hauteur totale de la page */
    background-color: rgba(0,0,0,0.5); /* Couleur de fond semi-transparente */
    z-index: 999; /* Mettre l'élément au-dessus des autres éléments */
    display: none; /* Cacher l'élément par défaut */
}

.app-overlay{
    height: 100%;
}

.close-btn {
    position: absolute; /* Positionner l'élément en absolu */
    top: 10px; /* Coller à la partie supérieure de l'application */
    right: 10px; /* Coller à la partie droite de l'application */
    font-size: 24px; /* Taille de police */
    color: #fff; /* Couleur de police */
    cursor: pointer; /* Cursor pour indiquer qu'il s'agit d'un lien */
}

h1
{
  margin: 0;
  padding: 15px;
}


/* TBD */

.garden {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

#circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #38A556;
  position: fixed;
    bottom: 5%;
}

#app-title{
 margin: 0;
}

#screenLock{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7063200280112045) 41%, rgba(0,0,0,1) 100%);
  z-index: 999;
}

.hidden{
  display: none;
}

#locked-logo
{
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  overflow: hidden;
}

#locked-logo:hover
{
  opacity: 0.5;
}

#unlocked-logo
{
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  overflow: hidden;
}

#unlocked-logo:hover
{
  opacity: 0.5;
}

#locked-time
{
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 10vh;

}