@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

.darkmode
{
  --app-bg: rgb(35, 35, 35);
  --app-font-color: white;
}

body
{
  --app-bg: linear-gradient(0deg, rgba(43,193,126,0.8631827731092436) 0%, rgba(20,101,86,0.9192051820728291) 27%, rgba(37,123,162,1) 100%);
  --app-font-color: black;
}

.app-overlay
{
  background: var(--app-bg)!important;
  color: var(--app-font-color);
}

.board 
{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: 1/1;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cell 
{
  box-sizing: border-box;
  border: 2px solid rgb(30, 117, 95);
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
}

.cell:hover{
  opacity: 0.7;
}

#alert-tictactoe
{
  font-family: 'Orbitron', sans-serif;
  font-size: bold;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  background-color: white;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  height: 5vh;
  text-align: center;
  border-radius: 15px;
  top: 30%;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

.hidden
{
  display: none;
}

#displayed-score
{
  font-family: 'Orbitron', sans-serif;
  font-size: 3vh;
}

.tic-button-area
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#app-title
{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}